@media (max-width: 767px) {
    .center {
        padding-left: calc(50% - 187.5px);
        padding-right: calc(50% - 187.5px);
    }

    .user-page, .cart-page, .top_content_L {
        display: none;
    }

    .top_content {
        height: 363px;

    }

    .line {
        width: 12px;
        height: 61px;
    }

    .top_content_R {
        gap: 15px;
    }

   .name {
    font-size: 38px;
    width: 236px;
   }

   .soname {
    font-size: 18px;
   }

   .soname2 {
    font-size: 18px;
   }

   .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    margin: 64px 0;
   }

   .item_big {
    grid-column: span 1;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: baseline;
   }

   .subscribe_blocks {
    @include flexColumn;    
   }

   .footer {
    height: 143px;
    flex-direction: column-reverse;
    padding: 43px 0 9px 0;
   }
}